timeout_decorator
rich
langchain
langchain_core
langchain_community
langchain_text_splitters
litellm
openai
httpx
ollama
GitPython
loguru
sentence-transformers
docstring_parser
pylint
tenacity
requests
faiss-cpu